.row
  .space-20
  .portfolio-thumnail.text-center
    %a{href: "#"}
      %img.profile-image{alt: "", src: "#{current_user.image}"}
  .space-30

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .col-md-6
      = f.label :phone_number
      = f.text_field :phone_number, class: "form-control", autofocus: true

    .col-md-6
      = f.label :kakao_id, "KAKAO ID"
      = f.text_field :kakao_id, class: "form-control"

    .col-md-6
      = f.label :company_name, "Compnay"
      = f.text_field :company_name, class: "form-control"

    .col-md-6
      = f.label :lunch_time, "Lunch Time"
      = f.text_field :lunch_time, class: "form-control"

    .col-md-6
      = f.submit "Update", class: 'btn btn-block theme-btn-color'

  .space-40
  .col-md-12
    = form_tag destroy_user_session_path, method: "delete" do
      %input.btn.btn-danger{type: "submit", value: "Logout"}/

  .space-40
  .space-30
  / user delete
  /#{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
