%h5.hidden= "#{@user.name}님은 #{coupon.tibu_tibu.num}번 씰을 수집했습니다."

- if @user == current_user
  .ssyl.active{ id: "ssyl-#{coupon.id}", href: edit_coupon_path(coupon.id), data: { toggle: "modal", target: "#update-ssyl"} }
    %img{ src: coupon.image_path, alt: "#{coupon.tibu_tibu.num}번 씰을 수집했습니다(씰의 원본이미지를 구하지 못했습니다 ㅠ.ㅠ, 주인장 백)." }
    .dimmed
      %button.btn.btn-link UPDATE
    .count= "+#{coupon.count}"
- else
  .ssyl.active{ id: "ssyl-#{coupon.id}", href: '#' }
    %img{ src: coupon.image_path, alt: "#{coupon.tibu_tibu.num}번 씰을 수집했습니다(씰의 원본이미지를 구하지 못했습니다 ㅠ.ㅠ, 주인장 백)." }
    .count= "+#{coupon.count}"
