%h5.hidden= "#{tibutibu.num}번 씰을 수집했으면 GET을 눌러주세요."

= button_to coupons_path, method: :post, remote: true, class: "ssyl btn btn-default", form_class: 'create-ssyl' do
  %input{ type: "hidden", name: "coupon[tibu_tibu_id]", value: tibutibu.id }
  .number= tibutibu.num
  .get Get


