%h5.hidden= "#{@user.name}님이 #{coupon.tibu_tibu_id}번 씰을 2개 이상 가지고 있는 있습니다! 교환요청을 해보세요!"

.ssyl.exchange{ id: "ssyl-#{coupon.id}", href: request_exchange_coupon_path(@user.id, coupon.tibu_tibu_id), data: { toggle: "modal", target: "#exchange-ssyl"} }
  %img{ src: coupon.image_path }
  .count= "+#{coupon.count}"
