%h5.hidden= "#{@user.name}님! #{tibutibu.num}번 씰을 2개 이상 가지고 있는 사람이 있습니다! 교환요청을 해보세요!"

.exchange-ssyl-wrapper
  %button.ssyl.btn.btn-default.exchange{href: recommend_coupons_path(current_user.id, tibutibu), data: { toggle: "modal", target: "#recommend-ssyl"} }
    .number= tibutibu.num
    .get EX
  = button_to coupons_path, method: :post, remote: true, class: "ssyl btn btn-default", form_class: 'create-ssyl with-exchange' do
    %input{ type: "hidden", name: "coupon[tibu_tibu_id]", value: tibutibu.id }
    .get GET
