#release-note.row
  .col-md-12
    %h3 Announcement

  %ul.col-md-12.list-unstyled
    - @notes.each do |note|
      %li
        %h4= note.title
        %p= note.content.html_safe
        %p.muted.small= "#{note.created_at.strftime("%Y. %m. %d")} 에 작성되었습니다!"
