#add-city-form.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: { dismiss: "modal" }}
          %span &times;
          %span.sr-only Close
        %h4.modal-title 씰 교환 가능장소 추가하기

      .modal-body
        %h4= "씰 교환 가능한 장소를 선택해주세요(최대 3개까지 가능합니다)."
        .space-20
        .row
          .col-xs-5
            = select_tag :province, options_from_collection_for_select(@provinces, "id", "name"), class: "form-control input-sm"

          .col-xs-7{ style: 'padding-left: 0;' }
            = select_tag :city, options_from_collection_for_select(@cities, "id", "name"), class: "form-control input-sm"

      .modal-footer
        .text-center
          %button.btn.btn-primary{ type: :submit } 추가하기
          %button.btn.btn-default{ type: :button, data: { dismiss: "modal" } } 닫기
