.row
  - if flash[:user_update]
    .alert.alert-success= flash[:user_update]

  .space-10
  .col-md-12.portfolio-thumnail.text-center
    %a{href: "#"}
      %img.profile-image{alt: "", src: "#{current_user.image}"}
  .space-10

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .col-md-12
      = f.label :phone_number, "오픈채팅(전화번호)"
      = link_to " 오픈채팅 설정방법", "http://www.kakao.com/helps?category=105&locale=ko&service=8", target: "_blank"
      = f.text_field :phone_number, class: "form-control", autofocus: true

    .col-md-12
      = f.label :kakao_id, "카카오톡 ID"
      = f.text_field :kakao_id, class: "form-control"

    = fields_for :company, resource.company  do |c|
      .col-md-12
        = c.label :name, "소속(회사, 학교, 그룹)"
        = c.text_field :name, class: "form-control autocomplete"


    .col-md-12
      = f.label :name, "교환가능장소"

    #location.col-md-12
      - current_user.cities.each do |city|
        .alert.alert-info.alert-dismissible
          %button.close{data: {dismiss: 'alert'}} &times;
          %span= "#{city.province.name} / #{city.name}"
          %input{type: :hidden, name: 'user[cities][]', value: city.id}

    .space-10
    .col-md-12
      = f.button "+ 추가하기", type: :button, id: "add-city-btn", class: 'btn btn-block btn-info', data: { toggle: "modal", target: "#add-city-form" }


    .space-20
    .col-md-12
      = f.label :name, "알림 설정"
    #notification-toggle
      .col-md-3.col-sm-4.col-xs-6
        .btn-group{ data: { toggle: "buttons" } }
          - is_ln = current_user.location_notification
          %label.btn.btn-default{ class: "#{'active' if is_ln}"}
            = f.radio_button :location_notification, 'on', checked: is_ln
            ON(내 지역)
          %label.btn.btn-default{ class: "#{'active' unless is_ln}"}
            = f.radio_button :location_notification, 'off', checked: !is_ln
            OFF

      .col-md-3.col-sm-4.col-xs-6
        .btn-group{ data: { toggle: "buttons" } }
          - is_gn = current_user.group_notification
          %label.btn.btn-default{ class: "#{'active' if is_gn}"}
            = f.radio_button :group_notification, 'on', checked: !is_gn
            ON(내 그룹)
          %label.btn.btn-default{ class: "#{'active' unless is_gn}"}
            = f.radio_button :group_notification, 'off', checked: !is_gn
            OFF


    .space-50
    .col-md-12
      = f.submit "Update", class: 'btn btn-block theme-btn-color'

  .space-20
  .col-md-12
    = form_tag destroy_user_session_path, method: "delete" do
      %input.btn.btn-danger{type: "submit", value: "Logout"}/

  .space-10
  %ul#contact.col-md-12.text-right.list-unstyled
    %li
      = link_to "mailto:cristiangjj@gmail.com", class: "btn btn-link" do
        %span Contact Us
        %i.fa.fa-angle-right

    %li.special-thanks
      = link_to "#", class: "btn btn-link" do
        %span Special Thanks
        %i.fa.fa-angle-down
      .small.list
        .center-block
          Elli
          .fa.fa-dot-circle-o
        .center-block
          BX KAKAO Friends Team
          .fa.fa-dot-circle-o
        .center-block
          Agit Team
          .fa.fa-dot-circle-o

= render 'registrations/add_city_form'
