- @users.each_with_index do |user, index|
  %h4.hidden= "#{user.name}님은 현재까지 #{user.p_count}의 인증사진과 #{user.c_count}의 띠부띠부씰을 수집했습니다. 완료까지 #{@whole_ssyl_count - user.c_count}개가 남았습니다."
  .portfolio-sec.media{ class: "#{ 'rank-' + index.to_s if index < 3 and !params[:page]}" }
    - if index < 3 and !params[:page]
      .rank-tag
        = index + 1
    = link_to brand_user_coupons_path(@brand, user), class: "pull-left" do
      %img.media-object.profile-image{ src: "#{user.image}" }

    = link_to brand_user_coupons_path(@brand, user), class: "media-body" do
      %h4.media-heading
        %span= "#{(user.name.present? ? user.name : "NONAME")}"
        %span.pull-right= user.last_created_coupon(@brand.id).updated_at.strftime('%m. %d')
      .clearfix
      %div
        %button.btn-default.ssyl.ssyl-sm.confirm Pic.
        %span.glyphicon.glyphicon-remove
        %span= user.p_count

        %button.btn-default.ssyl.ssyl-sm.active Get
        %span.glyphicon.glyphicon-remove
        %span= user.c_count

        %button.btn-default.ssyl.ssyl-sm Miss
        %span.glyphicon.glyphicon-remove
        %span= @whole_ssyl_count - user.c_count

= link_to_next_page @users, '다음 페이지 보기'


