- if @legend_users.present?
  #legends.portfolio-sec
    .portfolio-desc.text-center
      - @legend_users.each_with_index do |user, index|
        = link_to user_coupons_path(user), class: 'pull-left' do
          %img.media-object.profile-image{ src: "#{user.image}" }
      .clearfix
      .btn.theme-btn-default.btn-lg 벌써 다 모았네요!!
