= form_tag(post_kakao_story_path, authenticity_token: true, id: "post-kakao-story", class: "modal fade", remote: true ) do
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: :button, data: { dismiss: "modal" } }
          %span{ aria: { hidden: "true" } } &times;
        %h4.modal-title 카카오 스토리에 포스팅하기
      .modal-body
        .media
          %a.pull-left
            %img{ src: @user.image}

          .media-body
            %textarea{ name: 'content', rows: 10, placeholder: "공유할 내용을 적어주세요!" }
            %span.link-help 아래 링크가 같이 공유되요.
            .link
              %p= "#{request.protocol}#{request.host_with_port}#{request.fullpath}"

      .modal-footer
        .text-center
          %button.btn.btn-default{ type: :button, data: { dismiss: "modal" } } 닫기
          %button.btn.btn-primary{ type: :submit } 포스팅


