.modal-header
  %button.close{type: "button", data: { dismiss: "modal" }}
    %span &times;
    %span.sr-only Close
  %h4.modal-title 씰 업데이트하기
.modal-body
  = form_for @coupon, multipart: true, url: {action: "update"}, html: {class: "text-center update-ssyl"} do |f|
    = f.hidden_field :count

    %h4 갯수가 변경되었어요!
    %button.btn.btn-link.btn-lg.minus
      .glyphicon.glyphicon-minus
    %span#counter= @coupon.count
    %button.btn.btn-link.btn-lg.plus
      .glyphicon.glyphicon-plus
    .space-10.text-center.small.text-info
      %span "+, -"를 클릭하면 자동으로 업데이트 되요.

    #confirm-picture
      %h4 인증사진을 올려볼까요?
      .text-center.text-danger.small 핸드폰으로 사진찍을 때는 홈버튼을 오른쪽으로 해주세요.
      .space-10
      .row
        .col-xs-offset-3.col-xs-6.col-xs-offset-3
          .ssyl{style: "background-image:url(#{@coupon.image_path});"}

          = f.file_field :picture, class: "hidden"
          %label.btn.btn-block.btn-main{ for: "coupon_picture" } 사진 올리기

.modal-footer
  .text-center
    = button_to "쿠폰을 삭제할께요!", coupon_path, method: :delete, class: "btn btn-danger", data: { confirm: "정말로 삭제할꺼예요?" } 
