- content_for :title do
  = "띠부띠부 - 씰 모음 순위"

- content_for :meta do
  %meta{content: "띠부띠부 모음 순위 - 현재까지 씰을 모두 모은 사용자는 #{@legend_users.size if @legend_users.present?}명입니다.", name: "description"}
  %meta{content: "띠부띠부, 카카오프렌즈, 씰, 교환, 순위, TibuTibu", name: "keyword"}


.hidden
  - if @legend_users.present?
    %h3= "현재까지 #{@legend_users.size}명의 사용자가 카카오프렌즈 띠부띠부 씰을 다 모았습니다!!"
    %ul
      - @legend_users.each_with_index do |user, index|
        %li= user.name
  - if @users.present?
    %h3= "현재 실시간 띠부띠부 랭킹입니다."
    %ul
      - @users.each_with_index do |user, index|
        %li= user.name


.row
  - if current_user
    #coupon-toggle.col-xs-12.btn-group.btn-group-justified{ data: { toggle: "buttons" } }
      %label.btn.btn-default{ class: "#{ 'btn-primary active' unless params[:q] }"}
        %input{ type: "radio", data: {href: brand_coupons_path(@brand)} } 전체보기
      %label.btn.btn-default{ class: "#{ 'btn-primary active' if params[:q] == 'l' }"}
        %input{ type: "radio", data: {href: "#{brand_coupons_path(@brand)}?q=l"} } 우리동네보기

      %label.btn.btn-default{ class: "#{ 'btn-primary active' if params[:q] == 'g' }"}
        %input{ type: "radio", data: {href: "#{brand_coupons_path(@brand)}?q=g"} } 우리그룹보기


  #coupon-list.col-xs-12
    - if current_user and params[:q] == 'l' and not current_user.cities.exists?
      .alert.alert-warning
        %strong 아이쿠!
        %p 씰을 교환할 수 있는 장소를 지정하지 않았네요.
        %a{ href: edit_user_registration_path } 장소 추가하러 가기!
    - elsif current_user and params[:q] == 'g' and not current_user.company_id.present?
      .alert.alert-warning
        %strong 아이쿠!
        %p 내가 속한 그룹을 지정하지 않았네요.
        %a{ href: edit_user_registration_path } 그룹 추가하러 가기!

    = render 'coupons/regend_list'
    = render 'coupons/list'
