- content_for :title do
  = "띠부띠부 - #{@user.name}님의 씰 모음"

- content_for :meta do
  %meta{content: "#{@user.name}님은 현재 #{@user.getting_coupons_count(@brand.id)}의 띠부띠부씰을 모았습니다. #{@user.remaining_coupons_count(@brand.id)}의 씰을 모으면 모음이 완성됩니다", name: "description"}
  %meta{content: "띠부띠부, 카카오프렌즈, 씰, 교환, #{@user.cities_name if @user.cities.exists?} #{@user.company.name if @user.company_id.present?} TibuTibu", name: "keyword"}

  %meta{content: "website", property: "og:type"}
  %meta{content: "382538818551395", property: "fb:app_id"}
  %meta{content: "Tibutibu(띠부띠부 자랑)", property: "og:title"}
  %meta{content: user_coupons_url(@user), property: "og:url", rel: "canonical"}
  %meta{content: "총 #{@user.getting_coupons(@brand.id).length} 개 띠부띠부 교환 가능!", property: "og:description"}
  %meta{content: asset_url('ssyls/1.jpg'), property: "og:image"}

.hidden
  %h3= "#{@user.name}님은 현재까지 띠부띠부씰 모음 결과입니다."
  %p= "#{@user.name}님은 #{@user.getting_coupons_count(@brand.id)}의 씰을 모았고, 앞으로 #{@user.remaining_coupons_count(@brand.id)}의 씰을 모으면 컬렉션이 완성됩니다"
  %h4 현재까지 모은 띠부띠부 씰의 번호
  %p= @user_ssyl_ids.join("번, ") + "번"


.row
  #user-detail.col-md-12
    .portfolio-thumnail.text-center
      %a{href: "#"}
        %img.profile-image{alt: "", src: @user.image}
    %ul.text-center.list-inline.list-unstyled
      %li.phone{ class: "#{ 'active' if @user.phone_number.present? and not @user.phone_number.nil? }"}
        - if user_signed_in?
          - if @user.phone_number.start_with?('http')
            %a{href: "#", rel: "popover", target: "_blank", data: {container: "body", toggle: "popover", html: true, placement: "top", content: "#{(@user.phone_number.present? ? "<a href='#{@user.phone_number}'>오픈채팅에 연결하기</a>" : "설정탭에서 오픈채팅(전화번호)를 적어주세요.")}"} }
              %i.fa.fa-mobile
              %span.small 오픈채팅
          - else
            %a{href: "#", rel: "popover", data: {container: "body", toggle: "popover", html: true, placement: "top", content: "#{(@user.phone_number.present? ? "<a href='tel:+#{@user.phone_number}'>#{@user.phone_number}</a>" : "설정탭에서 오픈채팅(전화번호)를 적어주세요.")}"} }
              %i.fa.fa-mobile
              %span.small Phone
        - else
          %a{href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.phone_number.present? ? "로그인해야만 볼 수 있습니다." : "전화번호를 등록하지 않았습니다.")}"} }
            %i.fa.fa-mobile
            %span.small Phone

      - if user_signed_in?
        %li.kakao{ class: "#{ 'active' if @user.kakao_id.present? and not @user.kakao_id.nil?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "bottom", content: "#{(@user.kakao_id.present? ? @user.kakao_id : "설정탭에서 카카오톡 ID를 적어주세요.") }"}}
            %i.fa.fa-comments
            %span.small Kakao ID
      - else
        %li.kakao{ class: "#{ 'active' if @user.kakao_id.present? and not @user.kakao_id.nil?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "bottom", content: "#{(@user.kakao_id.present? ? "로그인해야만 볼 수 있습니다." : "카카오톡 ID를 등록하지 않았습니다.") }"}}
            %i.fa.fa-comments
            %span.small Kakao ID

      - if user_signed_in?
        - has_cities = @user.cities.exists?
        %li.location{class: "#{'active' if has_cities}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(has_cities ? @user.cities_name : "설정탭에서 교환가능 지역을 적어주세요.")}"}}
            %i.fa.fa-location-arrow
            %span.small Location
      - else
        %li.location{class: "#{'active' if @user.cities.exists?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.cities.exists? ? "로그인해야만 볼 수 있습니다." : "장소를 등록하지 않았습니다.")}"}}
            %i.fa.fa-location-arrow
            %span.small Location

      - if user_signed_in?
        - has_group = @user.company && @user.company.name.present?
        %li.group{class: "#{'active' if has_group}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(has_group ? @user.company.name : "설정탭에서 교환가능 지역을 적어주세요.")}"}}
            %i.fa.fa-flag
            %span.small Group
      - else
        %li.location{class: "#{'active' if @user.company_id.present?}"}
          %a{ href: "#", rel: "popover", data: {container: "body", toggle: "popover", placement: "top", content: "#{(@user.company_id.present? ? "로그인해야만 볼 수 있습니다." : "그룹를 등록하지 않았습니다.")}"}}
            %i.fa.fa-flag
            %span.small Group



  %ul.text-right.list-inline.list-unstyled
    .share-wrapper.pull-left
      - if current_user && current_user.provider == 'kakao' && @user == current_user
        %button.btn-xs.btn-default.ssyl.ssyl-xs.kakao#share_kakao_story{ data: { toggle: "modal", target: "#post-kakao-story" } } 카스에 자랑하기
      %button.btn-xs.btn-default.ssyl.ssyl-xs.fb#share_facebook FB에 공유하기

    - if current_user
      %button.btn-xs.btn-default.ssyl.ssyl-xs.exchange Ex
      %span.glyphicon.glyphicon-remove
      - if @user == current_user
        %span= current_user.recommended_coupons_count(@brand.id)
      - else
        %span= current_user.recommended_coupons_count_with(@user, @brand.id)

    %button.btn-xs.btn-default.ssyl.ssyl-xs.active Get
    %span.glyphicon.glyphicon-remove
    %span= @user.getting_coupons_count(@brand.id)

    %button.btn-xs.btn-default.ssyl.ssyl-xs Miss
    %span.glyphicon.glyphicon-remove
    %span= @user.remaining_coupons_count(@brand.id)

  #coupon-list
    - recommended_ssyl_ids = current_user.recommended_coupons(@brand.id).pluck(:tibu_tibu_id) if current_user
    - @tibutibus.each do |tibutibu|
      .col-md-2.col-sm-3.col-xs-4.ssyl-wrapper
        - if @user_ssyl_ids.include? tibutibu.id
          - coupon = @user_coupons.find_by(tibu_tibu_id: tibutibu.id)
          - has_ssyl = (@my_ssyl_ids and @my_ssyl_ids.include?(tibutibu.id))
          - if (coupon.count > 1 and @user != current_user and not has_ssyl)
            = render 'coupons/me/exchange_ssyl', coupon: coupon
          - else
            = render 'coupons/me/active_ssyl', coupon: coupon

        - elsif current_user and recommended_ssyl_ids.include? tibutibu.id
          - if current_user == @user or @user_ssyl_ids.include? tibutibu.id
            = render 'coupons/me/recommended_ssyl', tibutibu: tibutibu
          - else
            = render 'coupons/me/other_user_yet_ssyl', tibutibu: tibutibu

        - elsif current_user == @user
          = render 'coupons/me/create_ssyl', tibutibu: tibutibu

        - else
          = render 'coupons/me/other_user_yet_ssyl', tibutibu: tibutibu


- if current_user
  #update-ssyl.modal.fade{ tabindex: "-1" }
    .modal-dialog
      .modal-content

  - if @user == current_user
    = render 'coupons/story_post_modal'

- if current_user
  #recommend-ssyl.modal.fade{ tabindex: "-1" }
    .modal-dialog
      .modal-content

  #exchange-ssyl.modal.fade{ tabindex: "-1" }
    .modal-dialog
      .modal-content


:javascript
  $('#share_facebook').click(function() {
    window.open("http://facebook.com/sharer.php?u=#{user_coupons_url(@user)}", "TW", "left=0,top=0,toolbar=no,status=no,scrollbars=no,resizeable=no,menubar=no,location=no,width=600,height=500");
  });
