.modal-header
  %button.close{type: "button", data: { dismiss: "modal" }}
    %span &times;
    %span.sr-only Close
  %h4.modal-title 씰 교환 가능한 목록 보기

.modal-body
  %h4= "아래 사람들이 #{@tibutibu.num}번 씰을 2개 이상 보유하고 있습니다"
  %ul.list-unstyled.list-inline
    - @recommend_coupons.each do |coupon|
      - user = coupon.user
      - title = "<a href='#{user_coupons_path(user)}'><i class='fa fa-quote-left'></i> #{user.name}님과 교환가능 한 씰</a>"
      - content = exchangerble_ssyls(user.recommended_coupons_with(current_user, @brand.id), user)
      %li
        %button.media-object.profile-image{ style: "background-image:url(#{user.image});", data: { toggle: "popover", title: title, content: content } }
  .clearfix

.modal-footer
  .text-center
    = button_to "나, 이 씰 구했어요!!", {controller: "coupons", action: "create", coupon: {tibu_tibu_id: @tibutibu.id}}, method: :create, class: "btn btn-primary"

:javascript
  $(document).ready(function() {
    $(".profile-image").popover({
      trigger: "click",
      placement: "bottom",
      html: true
    }).on("show.bs.popover", function() {
      $(this).addClass('exchange');
    }).on("hide.bs.popover", function() {
      $(this).removeClass('exchange');
    });
  });
