%form
  .modal-header
    %button.close{type: "button", data: { dismiss: "modal" }}
      %span &times;
      %span.sr-only Close
    %h4.modal-title 씰 교환 가능한 목록 보기

  .modal-body
    %h3= "'#{@user.name}'님과 씰을 교환해보아요."

    .request-coupon.row
      .col-md-12
        %h4
          %i.fa.fa-square
          내가 받는 쿠폰
        .row
          .col-md-12
            .ssyl.exchange{ style: "background-image:url(#{asset_path('ssyls/' + @coupon.tibu_tibu_id.to_s + '.jpg')})"}

    .candidate_coupons.row
      .col-md-12
        %h4
          %i.fa.fa-square
          = "'#{@user.name}'님이 필요한 내 쿠폰"
        - if @candidate_coupons.present?
          .row
            %ul.col-md-12.list-unstyled.list-inline
              - @candidate_coupons.each do |coupon|
                %li
                  %input{ id: "candidate-#{coupon.id}", type: :radio, name: :coupon, value: coupon.id }
                  %label.ssyl{ for: "candidate-#{coupon.id}", style: "background-image: url(#{asset_path('ssyls/' + coupon.tibu_tibu_id.to_s + '.jpg')});" }
        - else
          .alert.alert-warning 교환할 수 있는 쿠폰이 없습니다.

-#
  .modal-footer
    .text-center
      = button_to "우리, 씰 교환해요!!", {controller: :exchange, action: :create}, class: 'btn btn-primary, btn-lg'
