.row
  .space-10
  #coupon-detail.col-md-12
    = render 'coupon'

    #loading-recommend-spinner.text-center
      = link_to "Loading...", new_coupon_path, class: 'btn btn-lg new-coupon-btn'
    .space-30
    #coupon-recommend-list
      - if @recommend_coupons.present?
        = render 'recommend_list'
