.row
  .space-10
  .text-center
    %h1 띠부띠부 씰
    %p 주위 사람들과 함께 띠부띠부 씰을 교환해보아요!!!

    %h4 Sign in with
    = render "devise/shared/links"

  .direct-link.text-right
    = link_to brands_path do
      %span 띠부띠부 랭크보기
      %i.fa.fa-angle-right


%nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
  .container
    .row
    %p.small.copyright
      %span Copyright@
      %span.name shon.dun.clarke.
      %span All rights reserved.

