.spinner {
  margin: 40px auto;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  display: none;
}
.spinner > div {
  background-color: #af9c80;
  opacity: .7;
  height: 100%;
  width: 6px;
  margin-right: 3px;
  display: inline-block;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.modal h4 {
  line-height: 24px;
}
.btn-main {
  background-color: #0faf97;
  color: #fff;
}
#content {
  margin-top: 90px;
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  #content {
    margin-top: 50px;
  }
}
.alert {
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0;
}
.navbar-fixed-bottom li.active {
  background-color: #0faf97;
}
.navbar-fixed-bottom li.active a {
  color: #fff;
}
.navbar-fixed-bottom li a {
  display: block;
  padding: 10px 5px;
  color: #7a7a7a;
}
.navbar-fixed-bottom li a i {
  font-size: 18px;
}
.navbar-fixed-bottom li a .help-text {
  display: block;
  font-size: 10px;
}
a[rel='next'] {
  line-height: 30px;
  display: block;
  margin: 10px 0 70px;
  border: 1px solid #eee;
  color: #7a7a7a;
  text-align: center;
}
.navbar-header {
  float: left;
}
.navbar-fixed-top {
  text-align: center;
}
.navbar-fixed-top .event {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
.navbar-fixed-top .event span {
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  margin: 2px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.navbar-fixed-top .event .glyphicon {
  font-size: 18px;
  margin-left: 5px;
  background-color: transparent;
  color: #cacaca;
}
@media (max-width: 768px) {
  .navbar-fixed-top .event .title {
    display: none;
  }
}
.navbar-fixed-top #notice.active span {
  background-color: #ffa500;
  color: #fff;
}
.navbar-fixed-top #notice.active .glyphicon {
  background-color: transparent;
  color: #ffa500;
}
.navbar-fixed-top #notification.active span {
  background-color: #0faf97;
  color: #fff;
}
.navbar-fixed-top #notification.active .glyphicon {
  background-color: transparent;
  color: #0faf97;
}
.navbar-fixed-top .popover {
  min-width: 250px;
}
.navbar-fixed-top .popover.bottom {
  margin-top: 0;
}
.navbar-fixed-top .popover .arrow {
  display: none;
}
.navbar-fixed-top .popover .popover-title {
  text-align: center;
  background-color: transparent;
}
.navbar-fixed-top .popover .popover-title .close {
  margin-top: -3px;
}
.navbar-fixed-top .popover .popover-content {
  max-height: 225px;
  overflow-y: scroll;
}
.navbar-fixed-top .popover .popover-content h4 {
  font-weight: 500;
  font-size: 14px
        color: #1a1106;
}
.navbar-fixed-top .popover .popover-content p {
  font-size: 12px;
}
.navbar-fixed-top .popover .popover-content.notification {
  padding: 0;
  font-size: 12px;
}
.navbar-fixed-top .popover .popover-content.notification a {
  color: #1a1106;
}
.navbar-fixed-top .popover .popover-content.notification li {
  padding: 5px;
}
.navbar-fixed-top .popover .popover-content.notification li.media {
  margin-top: 0;
}
.navbar-fixed-top .popover .popover-content.notification li:hover {
  background-color: #0faf97;
  color: #fff;
}
.navbar-fixed-top .popover .popover-content.notification .profile-image {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.navbar-default .navbar-brand {
  text-transform: capitalize;
}
.navbar-default .navbar-brand:first-letter {
  color: #0faf97;
}
.navbar-toggle {
  border: none;
  padding: 3px 5px;
  font-size: 20px;
  color: #d2322d;
}
.navbar-default .navbar-nav > li > a,
.navbar-toggle {
  color: #d2322d;
}
.glyphicon {
  font-family: 'Glyphicons Halflings';
}
.portfolio-post-cat {
  text-transform: inherit;
}
.footer-col h3 {
  color: #7a7a7a;
  margin-bottom: 8px;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
}
.media {
  cursor: pointer;
}
.media > a,
.media .media-body {
  padding: 5px;
}
.media a.pull-left {
  margin-right: 0;
}
.media .media-body .media-heading,
.media .media-body .media-subtitle {
  font-size: 12px;
  color: #7a7a7a;
  margin: 0 0 6px;
  line-height: 18px;
}
.media .media-body .media-heading a,
.media .media-body .media-subtitle a {
  color: #7a7a7a;
}
.media .media-body .media-heading:first-letter,
.media .media-body .media-subtitle:first-letter {
  border-bottom: 1px solid #7a7a7a;
}
.media .media-body .media-heading .phone-number {
  color: #428bca;
}
.media .media-body .media-heading .phone-number:hover {
  color: #2a6496;
}
.media .media-body .receive-coupon {
  padding: 0;
}
.media .media-body .receive-coupon h4:first-letter {
  border-bottom: 1px solid #d2322d;
}
.media .media-body .receive-coupon .btn-group {
  margin-left: -2px;
}
.media .media-body .give-coupon {
  padding: 0;
  margin-top: 10px;
}
.media .media-body .give-coupon h4:first-letter {
  border-bottom: 1px solid #47a447;
}
.media .media-body .btn {
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  margin: 0 1px 2px 1px;
}
.ssyl-wrapper {
  padding: 0 5px;
  margin-bottom: 10px;
}
.ssyl-wrapper:hover .dimmed {
  display: block;
}
.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: none;
}
.dimmed .btn {
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  font-size: 16px;
  text-decoration: none;
}
.ssyl {
  border: 1px solid #cacaca;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 202px;
  width: 100%;
  position: relative;
  cursor: pointer;
  color: #cacaca;
  transition: all 0.7s ease;
  text-align: center;
}
.ssyl img {
  height: 100%;
  width: auto;
}
.ssyl.ssyl-sm {
  width: 55px;
  height: 44px;
  display: inline-block;
  margin-right: 3px;
}
.ssyl.ssyl-sm + span {
  margin-right: 3px;
}
.ssyl.ssyl-sm + span + span {
  font-size: 18px;
  margin-right: 15px;
}
.ssyl.ssyl-xs {
  width: 40px;
  height: 28px;
  display: inline-block;
  margin-right: 3px;
  font-size: 12px;
}
.ssyl.ssyl-xs + span {
  margin-right: 3px;
  font-size: 10px;
}
.ssyl.ssyl-xs + span + span {
  font-size: 13px;
  margin-right: 10px;
}
.ssyl.active,
.ssyl:hover {
  background-color: transparent;
}
.ssyl.active {
  border-color: #ffa500;
  color: #ffa500;
}
.ssyl.active .number {
  border-color: #ffa500;
}
.ssyl.active:hover {
  border-color: #ffa500;
  color: #ffa500;
}
.ssyl.active:hover .number {
  border-color: #ffa500;
}
.ssyl.exchange {
  border-color: #0faf97;
  color: #0faf97;
}
.ssyl.exchange .number {
  border-color: #0faf97;
}
.ssyl.exchange:hover {
  border-color: #0faf97;
  color: #0faf97;
}
.ssyl.exchange:hover .number {
  border-color: #0faf97;
}
.ssyl.confirm {
  border-color: #ff4fa1;
  color: #ff4fa1;
}
.ssyl:hover {
  border-color: #7a7a7a;
  color: #7a7a7a;
}
.ssyl:hover .number {
  border-color: #7a7a7a;
}
.ssyl .number,
.ssyl .plus,
.ssyl .minus,
.ssyl .count {
  position: absolute;
}
.ssyl .number,
.ssyl .count {
  line-height: 26px;
  font-size: 11px;
  height: 26px;
  width: 26px;
  text-align: center;
}
.ssyl .number {
  top: 2px;
  left: 2px;
  border: 1px solid #cacaca;
  border-radius: 2px;
}
.ssyl .count {
  bottom: 2px;
  right: 2px;
  font-size: 14px;
  font-weight: bold;
  background-color: #0faf97;
  color: #FFF;
  border-radius: 2px;
}
.ssyl .get {
  font-size: 24px;
}
h4 {
  font-size: 14px;
}
.autocomplete-suggestions {
  background: white;
  border: 1px solid #dadada;
  border-top: none;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
}
.autocomplete-suggestions .autocomplete-suggestion {
  padding: 10px;
  border-bottom: 1px solid #dadada;
}
.autocomplete-suggestions .autocomplete-suggestion strong {
  color: #0FAF97;
}
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
  color: #fff;
  background-color: #0FAF97;
}
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected strong {
  color: #d2322d;
}
@media (min-width: 768px) {
  .ssyl {
    height: 202px;
  }
}
@media (max-width: 768px) {
  .portfolio-sec {
    font-size: 11px;
  }
  .ssyl {
    height: 128px;
  }
  .ssyl.ssyl-sm {
    width: 35px;
    height: 27px;
    font-size: .9em;
  }
  .ssyl.ssyl-sm + span {
    font-size: 11px;
  }
  .ssyl.ssyl-sm + span + span {
    font-size: 13px;
    margin-right: 8px;
  }
  .ssyl.ssyl-xs {
    font-size: 11px;
  }
  .ssyl.ssyl-xs + span {
    font-size: 9px;
  }
  .ssyl.ssyl-xs + span + span {
    font-size: 13px;
  }
  .navbar-fixed-top .event {
    padding: 0 0 0 12px;
  }
}
#toast {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 5px;
  z-index: 1040;
  width: 100%;
  max-width: 600px;
  display: none;
}
