@import "theme_color.less";
@import "spinner.css.less";


.modal {
  h4 { line-height: 24px; }
}

.btn-main {
  background-color: @exchange-ssyl-color;
  color: #fff;
}

#content {
  margin-top: 90px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  #content {
    margin-top: 50px;
  }
}

.alert {
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0;
}

.navbar-fixed-bottom li {
  &.active {
    background-color: @exchange-ssyl-color;
    a { color: #fff; }
  }

  a {
    display: block;
    padding: 10px 5px;
    color: @default-ssyl-hover-color;
    i { font-size: 18px; }
    .help-text {
      display: block;
      font-size: 10px;
    }
  }
}

a[rel='next'] {
  line-height: 30px;
  display: block;
  margin: 10px 0 70px;
  border: 1px solid #eee;
  color: @default-ssyl-hover-color;
  text-align: center;
}

.navbar-header { float: left; }
.navbar-fixed-top {
  text-align: center;
  .event {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    span {
      font-size: 16px;
      line-height: 30px;
      vertical-align: middle;
      background-color: transparent;
      color: #fff;
      padding: 8px;
      margin: 2px 0;
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }
    .glyphicon {
      font-size: 18px;
      margin-left: 5px;
      background-color: transparent;
      color: #cacaca;
    }

    @media (max-width: 768px){
      .title {
        display: none;
      }
    }
  }

  #notice {
    &.active {
      span {
        background-color: @active-ssyl-color;
        color: #fff;
      }
      .glyphicon {
        background-color: transparent;
        color: @active-ssyl-color;
      }
    }
  }

  #notification {
    &.active {
      span {
        background-color: @exchange-ssyl-color;
        color: #fff;
      }
      .glyphicon {
        background-color: transparent;
        color: @exchange-ssyl-color;
      }
    }
  }


  .popover {
    min-width: 250px;
    &.bottom { margin-top: 0; }
    .arrow { display: none; }
    .popover-title {
      text-align: center;
      background-color: transparent;
      .close { margin-top: -3px; }
    }
    .popover-content {
      max-height: 225px;
      overflow-y: scroll;

      h4 {
        font-weight: 500;
        font-size: 14px
        color: #1a1106;
      }
      p { font-size: 12px; }


      &.notification {
        padding: 0;
        font-size: 12px;
        a { color: #1a1106; }
        li {
          padding: 5px;
          &.media { margin-top: 0; }
          &:hover {
            background-color: @exchange-ssyl-color;
            color: #fff;
          }
        }
        .profile-image {
          min-width: 35px;
          min-height: 35px;
          width: 35px;
          height: 35px;
          margin-right: 5px;
        }
      }
    }
  }
}

.navbar-default .navbar-brand {
  text-transform: capitalize;
  &:first-letter {
    color: @exchange-ssyl-color;
  }
}
.navbar-toggle {
  border: none;
  padding: 3px 5px;
  font-size: 20px;
  color: #d2322d;
}
.navbar-default .navbar-nav>li>a, .navbar-toggle {
  color: #d2322d;
}

.glyphicon { font-family: 'Glyphicons Halflings'; }
.portfolio-post-cat { text-transform: inherit; }

.footer-col h3 {
  color: @default-ssyl-hover-color;
  margin-bottom: 8px;
}


.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
}

.media {
  cursor: pointer;

  > a, .media-body { padding: 5px; }
  a.pull-left {
    margin-right: 0;
  }
  .media-body {
    .media-heading, .media-subtitle {
      font-size: 12px;
      color: @default-ssyl-hover-color;
      margin: 0 0 6px;
      line-height: 18px;
      a { color: @default-ssyl-hover-color; }
      &:first-letter { border-bottom: 1px solid @default-ssyl-hover-color; }
    }

    .media-heading {
      .phone-number {
        color: #428bca;
        &:hover { color: #2a6496; }
      }
    }

    .receive-coupon {
      padding: 0;
      h4:first-letter { border-bottom: 1px solid #d2322d; }
      .btn-group { margin-left: -2px; }
    }
    .give-coupon {
      padding: 0;
      margin-top: 10px;
      h4:first-letter { border-bottom: 1px solid #47a447; }
    }

    .btn {
      margin-bottom: 0;
      width: 20px;
      height: 20px;
      margin: 0 1px 2px 1px;
    }
  }
}

.ssyl-wrapper {
  padding: 0 5px;
  margin-bottom: 10px;

  &:hover {
    .dimmed { display: block; }
  }
}

.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  display: none;

  .btn {
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    font-size: 16px;
    text-decoration: none;
  }
}

.ssyl {
  border: 1px solid @default-ssyl-color;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 202px;
  width: 100%;
  position: relative;
  cursor: pointer;
  color: @default-ssyl-color;
  transition: all 0.7s ease;
  text-align: center;

  img {
    height: 100%;
    width: auto;
  }

  &.ssyl-sm {
    width: 55px;
    height: 44px;
    display: inline-block;
    margin-right: 3px;
    + span { margin-right: 3px; }
    + span + span {
      font-size: 18px;
      margin-right: 15px;
    }
  }

  &.ssyl-xs {
    width: 40px;
    height: 28px;
    display: inline-block;
    margin-right: 3px;
    font-size: 12px;
    + span {
      margin-right: 3px;
      font-size: 10px;
    }
    + span + span {
      font-size: 13px;
      margin-right: 10px;
    }
  }

  &.active, &:hover {
    background-color: transparent;
  }

  &.active {
    border-color: @active-ssyl-color;
    color: @active-ssyl-color;
    .number { border-color: @active-ssyl-color; }
    &:hover {
      border-color: @active-ssyl-color;
      color: @active-ssyl-color;
      .number { border-color: @active-ssyl-color; }
    }
  }

  &.exchange {
    border-color: @exchange-ssyl-color;
    color: @exchange-ssyl-color;
    .number { border-color: @exchange-ssyl-color; }
    &:hover {
      border-color: @exchange-ssyl-color;
      color: @exchange-ssyl-color;
      .number { border-color: @exchange-ssyl-color; }
    }
  }

  &.confirm {
    border-color: @confirmed-ssyl-color;
    color: @confirmed-ssyl-color;
  }

  &:hover {
    border-color: @default-ssyl-hover-color;
    color: @default-ssyl-hover-color;
    .number { border-color: @default-ssyl-hover-color; }
  }


  .number, .plus, .minus, .count {
    position: absolute;
  }

  .number, .count {
    line-height: 26px;
    font-size: 11px;
    height: 26px;
    width: 26px;
    text-align: center;
  }

  .number {
    top: 2px;
    left: 2px;
    border: 1px solid @default-ssyl-color;
    border-radius: 2px;
  }

  .count {
    bottom: 2px;
    right: 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: @exchange-ssyl-color;
    color: #FFF;
    border-radius: 2px;
  }

  .get {
    font-size: 24px;
  }
}

h4 { font-size: 14px; }


.autocomplete-suggestions {
  background: white;
  border: 1px solid #dadada;
  border-top: none;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;

  .autocomplete-suggestion {
    padding: 10px;
    border-bottom: 1px solid #dadada;
    strong { color: #0FAF97; }

    &.autocomplete-selected {
      color: #fff;
      background-color: #0FAF97;
      strong { color: #d2322d; }
    }
  }
}


@media (min-width: 768px){
  .ssyl {
    height: 202px;
  }
}
@media (max-width: 768px){
  .portfolio-sec { font-size: 11px; }
  .ssyl {
    height: 128px;

    &.ssyl-sm {
      width: 35px;
      height: 27px;
      font-size: .9em;

      + span {
        font-size: 11px;
        + span {
          font-size: 13px;
          margin-right: 8px;
        }
      }
    }

    &.ssyl-xs {
      font-size: 11px;
      + span {
        font-size: 9px;
      }
      + span + span {
        font-size: 13px;
      }
    }

  }

  .navbar-fixed-top .event {
    padding: 0 0 0 12px;
  }
}

#toast {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 5px;
  z-index: 1040;
  width: 100%;
  max-width: 600px;
  display: none;
}
