@import "cropper.min.css";
@import "theme_color.less";

/*
 *= require modals
 *= require_self
 */

.exchange-ssyl-wrapper {
  .ssyl {
    height: 101px;

    @media (max-width: 768px){
      height: 64px;
    }
  }

  .exchange {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    + .create-ssyl {
      .ssyl {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-left-color: @exchange-ssyl-color;
        border-right-color: @exchange-ssyl-color;
        border-bottom-color: @exchange-ssyl-color;
        position: relative;
        &:after {
          content: 'OR';
          position: absolute;
          top: -10px;
          margin-left: -12px;
          border: 1px solid #cacaca;
          padding: 3px;
          font-size: 8px;
          background-color: #fff;
        }
      }
    }
  }
}


.portfolio-thumnail {
  padding-top: 10px;
  img.profile-image {
    width: 50px;
    height: 50px;
  }
}

#coupon-toggle {
  margin-top: 20px;

  @media (max-width: 768px){
    label {
      padding: 6px 3px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

#legends {
  &.portfolio-sec {
    margin-bottom: 25px;
    .portfolio-desc {
      padding: 0;
      > a { margin: 6px 0 6px 6px; }
      .theme-btn-default {
        margin-bottom: -17px;
        font-size: 14px;
        padding: 6px 8px;
      }
    }
  }
}

#coupon-list {
  margin-top: 20px;
  .portfolio-sec { position: relative; }
  .portfolio-sec:hover {
    background-color: #f9f9f9;
  }
  .media-body {
    display: block;
    color: #000;
  }

  .rank-tag {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent;
    display: inline-block;
    text-align: center;
    color: white;
    opacity: .85;
    &:after {
      margin-left: -25px;
      line-height: 40px;
    }
  }
  .rank-0 {
    border-color: gold;
    .rank-tag {
      border-bottom-color: gold;
      &:after { content: "1"; }
    }
  }
  .rank-1 {
    border-color: silver;
    .rank-tag {
      border-bottom-color: silver;
      &:after { content: "2"; }
    }
  }
  .rank-2 {
    border-color: #8C7853;
    .rank-tag {
      border-bottom-color: #8C7854;
      &:after { content: "3"; }
    }
  }
}


#user-detail {
  margin-top: 10px;
  .portfolio-thumnail { margin-bottom: 15px; }

  ul {
    margin: 0;
    padding-bottom: 10px;
  }

  li {
    font-size: 24px;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-right: 4px;
    &:last-child { margin-right: 0; }

    a {
      color: #dadada;
      min-width: 67px;
      display: inline-block;
    }

    span {
      font-size: 11px;
      display: block;
    }

    &.active {
      border-color: #0FAF97;
      color: #0FAF97;
      a { color: #0FAF97; }
    }
  }
}

.share-wrapper {
  margin-left: 5px;

  .ssyl {
    margin-left: 5px;
    width: 150px;
  }

  .fb {
    background-color: #5276bf;
    color: #fff;
  }
  .kakao {
    background-color: #ffeb00;
    color: #3b3b3b;
  }
}

#post-kakao-story {
  img {
    border-radius: 50%;
    width: 50px;
  }

  textarea {
    width: 100%;
    border-color: #cacaca;
    padding: 5px;
    min-height: 200px;
  }

  .link-help {
    display: inline-block;
    margin-bottom: 5px;
  }
  .link {
    border: 1px solid #cacaca;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    word-wrap: break-word;
    padding: 5px;
    p { margin-bottom: 2px; }
  }
}


#loading-recommend-spinner {
  margin-top: 10px;
  font-size: 24px;
  display: none;
}

@media (max-width: 768px){
  .media-heading span:first-child {
    max-width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    float: left;
  }

  .ssyl.ssyl-xs {
    margin-right: 1px;
    + span {
      margin-right: 1px;
      + span {
        margin-right: 3px;
        font-size: 11px;
      }
    }
  }

  .share-wrapper {
    font-size: 12px;
    height: 28px;
    .ssyl {
      width: 55px;
      padding: 0 1px;
      font-size: 8px;
      line-height: 10px;
    }
    .ssyl + .ssyl {
      margin-left: 2px;
    }
  }

  #post-kakao-story {
    .modal-body{
      padding: 5px;
    }
  }

}
