#update-ssyl {
  #confirm-picture {
    margin-top: 25px;
    label { margin-top: 10px; }
  }

  .ssyl {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: default;
  }

}

#exchange-ssyl {
  h3 { font-size: 16px; }
  i { margin-right: 5px; }

  .request-coupon {
    margin-bottom: 15px;
    i { color: #0faf97; }
    .ssyl { margin: auto; }
  }

  .candidate_coupons {
    i { color: #ffa500; }
    input{ display: none; }
    input:checked + label {
      border-color: #ffa500;
    }
  }

  .ssyl {
    width: 77px;
    height: 101px;
    background-position: center;
    background-size: cover;
  }
}

#recommend-ssyl {
  .profile-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    &:hover { border-color: lighten(#0faf97, 5%); }
    &.exchange { border-color: #0faf97; }
  }

  .ssyl {
    width: 75px;
    height: 100px;
    margin: 0 3px 5px;
    background-position: center;
    background-size: cover;
  }

  .contact {
    list-style: square;
    margin-left: 15px;
    padding: 0;
    label {
      margin: 0;
      padding: 6px 0;
      text-align: right;
    }
    a { padding-top: 4px; }
  }
}
