#update-ssyl #confirm-picture {
  margin-top: 25px;
}
#update-ssyl #confirm-picture label {
  margin-top: 10px;
}
#update-ssyl .ssyl {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
}
#exchange-ssyl h3 {
  font-size: 16px;
}
#exchange-ssyl i {
  margin-right: 5px;
}
#exchange-ssyl .request-coupon {
  margin-bottom: 15px;
}
#exchange-ssyl .request-coupon i {
  color: #0faf97;
}
#exchange-ssyl .request-coupon .ssyl {
  margin: auto;
}
#exchange-ssyl .candidate_coupons i {
  color: #ffa500;
}
#exchange-ssyl .candidate_coupons input {
  display: none;
}
#exchange-ssyl .candidate_coupons input:checked + label {
  border-color: #ffa500;
}
#exchange-ssyl .ssyl {
  width: 77px;
  height: 101px;
  background-position: center;
  background-size: cover;
}
#recommend-ssyl .profile-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #fff;
}
#recommend-ssyl .profile-image:hover {
  border-color: #11c6ab;
}
#recommend-ssyl .profile-image.exchange {
  border-color: #0faf97;
}
#recommend-ssyl .ssyl {
  width: 75px;
  height: 100px;
  margin: 0 3px 5px;
  background-position: center;
  background-size: cover;
}
#recommend-ssyl .contact {
  list-style: square;
  margin-left: 15px;
  padding: 0;
}
#recommend-ssyl .contact label {
  margin: 0;
  padding: 6px 0;
  text-align: right;
}
#recommend-ssyl .contact a {
  padding-top: 4px;
}
