#release-note {
  h3 { margin: 10px 0; }
  li {
    padding: 15px 0;
    border-bottom: 1px solid #cacaca;
    font-size: 1.1em;

    &:last-child {
      border-bottom: none;
    }

    h4 {
      font-size: 1.25em;
      color: #1a1106;
      margin-bottom: 15px;
    }

    .small {
      font-size: .85em;
      color: #cacaca;
    }
  }
}
