#release-note h3 {
  margin: 10px 0;
}
#release-note li {
  padding: 15px 0;
  border-bottom: 1px solid #cacaca;
  font-size: 1.1em;
}
#release-note li:last-child {
  border-bottom: none;
}
#release-note li h4 {
  font-size: 1.25em;
  color: #1a1106;
  margin-bottom: 15px;
}
#release-note li .small {
  font-size: .85em;
  color: #cacaca;
}
