- content_for :title do
  = "띠부띠부 - 브랜드 선택"

- content_for :meta do
  %meta{content: "띠부띠부 모음 순위 - 현재까지 씰을 모두 모은 사용자는 #{@legend_users.size if @legend_users.present?}명입니다.", name: "description"}
  %meta{content: "띠부띠부, 카카오프렌즈, 씰, 교환, 순위, TibuTibu", name: "keyword"}


#brands.row
  - @brands.each do |brand|
    .col-xs-6.col-sm-4.col-md-3
      = link_to brand_path(brand), class: "thumbnail" do
        = image_tag asset_path("brands/#{brand.image}")
        .caption
          %h6= brand.name
