h1 {
  margin: 20px 0;
  padding: 0 30px;
  font-size: 38px;
  text-transform: capitalize;
  word-wrap: break-word;
  &:first-letter {
    color: #0FAF97;
  }
}

p {
  margin: 10px 0 50px;
  padding: 0 17px;
  font-size: 20px;
  line-height: 30px;
  &.copyright {
    margin: 10px;
    padding: 0;
    text-align: center;
    font-size: 10px;
    .name {
      color: #0FAF97;
      margin-right: 3px;
    }
  }
}

.direct-link {
  margin: 60px 0 30px;
  padding: 0 17px;
  font-size: 17px;
  a {
    color: #7a7a7a;
    text-decoration: underline;
  }
  i {
    margin-left: 10px;
  }
}

#login-wrapper {
  margin-top: 25px;
}

.signin-btn {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 15px;
  display: block;

  &.facebook {
    background-color: #3b5998;
    color: #fff;
  }
  &.twitter {
    background-color: #55acee;
    color: #fff;
  }
  &.kakao {
    background-color: #fff000;
    color: #393939;
  }
}
