- if current_user and current_user.is_empty_info?
  .row.alert-user-info-container
    %a{href: "#{edit_user_registration_path}"}
      .alert.alert-sm.alert-warning
        사용자정보를 입력해주세요~
        %span.glyphicon.glyphicon-chevron-right.pull-right
