- has_notice = (current_user and (current_user.visited_notice.nil? or current_user.visited_notice < ReleaseNote.last_updated_at))

%nav.navbar.navbar-default.navbar-fixed-top.sticky-nav{role: "navigation"}
  .container
    .navbar-header
      = link_to brand_coupons_path(@brand), class: 'navbar-brand' do
        %span.title= 'T.Tibu'
        %span.brand-name= "- #{(@brand.name)}"

    - if current_user
      - if current_user.has_unread_notification
        %a#notification.event.active.pull-right{ data: { url: recent_notifications_path, toggle: "popover", placement: "bottom" } }
          %span.glyphicon.glyphicon-bell
          %span.title Exchangable!
      - else
        %a#notification.event.pull-right{ data: { url: recent_notifications_path, toggle: "popover", placement: "bottom" } }
          %span.glyphicon.glyphicon-bell

      - if has_notice
        %a#notice.active.event.pull-right{ data: { url: recent_release_notes_path, toggle: "popover", placement: "bottom" } }
          %span.glyphicon.glyphicon-exclamation-sign
          %span.title New Stuff!
      - else
        %a#notice.event.pull-right{ href: release_notes_path }
          %span.glyphicon.glyphicon-exclamation-sign

    - elsif controller.controller_name != 'sessions'
      .navbar-collapse{style: "height: 1px;"}
        %ul.nav.navbar-nav.navbar-right
          %li.pull-right
            %a{href: "#{root_path}"} Login
