/ SEO setting
%meta{content: "Tibutibu(띠부띠부)", name: "Author"}
%meta{content: "띠부띠부씰을 교환하세요", name: "Description"}
%meta{content: "띠부띠부, 카카오, Tibutibu", name: "Keyword"}
%meta{content: "noarchive", name: "robots"}
%meta{content: "xKC9MSkXkoOlnLWFsubV8oZiU-j8TZ7X8PorlGINN5g", name: "google-site-verification"}


/ Facebook og setting
%meta{content: "website", property: "og:type"}
%meta{content: "382538818551395", property: "fb:app_id"}
%meta{content: "Tibutibu(띠부띠부)", property: "og:title"}
%meta{content: "http://tibutibu.coupan.so/", property: "og:url", rel: "canonical"}
%meta{content: "띠부띠부씰을 교환하세요", property: "og:description"}

-#
  / og image tags
  %meta{content: "https://lingring.net/static/image/logoFBOG_1.png", property: "og:image"}
  %meta{content: "image/png", property: "og:image:type"}
  %meta{content: "200", property: "og:image:width"}
  %meta{content: "200", property: "og:image:height"}
