- if current_user
  %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
    .container
      .row
        %ul.list-unstyled.list-inline.text-center
          %li.col-xs-3{ class: "#{'active' if controller.controller_name == 'brands'}"}
            %a{href: "#{brands_path}"}
              %i.fa.fa-exchange
              %span.help-text 브랜드
          %li.col-xs-3{ class: "#{'active' if controller.controller_name == 'coupons' and controller.action_name == 'index' }"}
            %a{href: "#{brand_coupons_path(@brand.id)}"}
              %i.fa.fa-list
              %span.help-text 띠부띠부랭크
          %li.col-xs-3{ class: "#{'active' if (controller.controller_name == 'coupons' and controller.action_name == 'me' and @user == current_user) }"}
            %a{href: "#{brand_user_coupons_path(@brand.id, current_user.id)}"}
              %i.fa.fa-user
              %span.help-text 내 씰
          %li.col-xs-3{ class: "#{'active' if controller.controller_name == 'registrations'}"}
            %a{href: "#{edit_user_registration_path}"}
              %i.fa.fa-ellipsis-h
              %span.help-text 설정

- else
  %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
    .container
      .row
        %ul.list-unstyled.list-inline.text-center
          %li.col-xs-6{ class: "#{'active' if controller.controller_name == 'brands'}"}
            %a{href: "#{brands_path}"}
              %i.fa.fa-exchange
              %span.help-text 브랜드
          %li.col-xs-6{ class: "#{'active' if controller.controller_name == 'coupons' and controller.action_name == 'index' }"}
            %a{href: "#{brand_coupons_path(@brand.id)}"}
              %i.fa.fa-list
              %span.help-text 띠부띠부랭크
