!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"}
    %meta{content: "띠부띠부 모음", name: "description"}
    %meta{content: "띠부띠부, 카카오프렌즈, 씰, 교환, 순위, TibuTibu", name: "keyword"}
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }

    %link{href: asset_path("favicons/apple-touch-icon-57x57.png"), rel: "apple-touch-icon", sizes: "57x57"}
    %link{href: asset_path("favicons/apple-touch-icon-114x114.png"), rel: "apple-touch-icon", sizes: "114x114"}
    %link{href: asset_path("favicons/apple-touch-icon-72x72.png"), rel: "apple-touch-icon", sizes: "72x72"}
    %link{href: asset_path("favicons/apple-touch-icon-60x60.png"), rel: "apple-touch-icon", sizes: "60x60"}
    %link{href: asset_path("favicons/apple-touch-icon-120x120.png"), rel: "apple-touch-icon", sizes: "120x120"}
    %link{href: asset_path("favicons/apple-touch-icon-76x76.png"), rel: "apple-touch-icon", sizes: "76x76"}
    %link{href: asset_path("favicons/favicon-96x96.png"), rel: "icon", sizes: "96x96", type: "image/png"}
    %link{href: asset_path("favicons/favicon-16x16.png"), rel: "icon", sizes: "16x16", type: "image/png"}
    %link{href: asset_path("favicons/favicon-32x32.png"), rel: "icon", sizes: "32x32", type: "image/png"}
    %meta{content: "#da532c", name: "msapplication-TileColor"}

    = content_for?(:meta) ? yield(:meta) : (render 'layouts/meta')
    %title= content_for?(:title) ? yield(:title) : "띠부띠부 (TibuTibu)"
    = stylesheet_link_tag 'font-awesome'
    = stylesheet_link_tag 'application'

    %link{href: "http://fonts.googleapis.com/css?family=Raleway:400,300,100,700,800,500", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Playfair+Display:400italic", rel: "stylesheet", type: "text/css"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>]
    = stylesheet_link_tag params[:controller]
    = yield :page_specific_stylesheets


    = javascript_include_tag 'application'
    = yield :page_specific_head_scripts
    = javascript_include_tag params[:controller]

    = csrf_meta_tags

  %body
    = render "layouts/header"

    /
      <haml_loud> link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) </haml_loud>

    #content.container
      .col-xs-12
        = render 'layouts/alert_user_info_empty'
        .row
          = content_for?(:contents) ? yield(:contents) : yield

    = render "layouts/nav"
    = render "layouts/spinner"
    = render "layouts/toast"

    = yield :page_specific_scripts
